.homeIntro{
    background-image: url("../../images/decor_1.png"), url("../../images/body_bg.png"), url("../../images/main_intro_bg.png");
    background-repeat: no-repeat;
    background-size: 240px, cover, cover;
    background-position: top left, center, center;
    &__wrapper{
        padding: 278px 0 158px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        width: 503px;
        height: 390px;
        object-fit: contain;
        &--box{
            margin-right: 83px;
        }
    } 
    &__title{
        max-width: 914px;
        margin-bottom: 60px;
        font-weight: 800;
        font-size: 62px;
        line-height: 92px;
        color: #D42117;
    }
}
@media only screen and (max-width:1300px){
    .homeIntro{
        &__img{
            width: 45vw;
            height: auto;
            &--box{
                margin-right: 50px;
            }
        }
        &__title{
            margin-bottom: 50px;
            font-size: 5vw;
            line-height: 80px;
        } 
    }
}
@media only screen and (max-width:768px){
    .homeIntro{
        background-size: 22vw, cover, cover;
        &__wrapper{
            flex-direction: column-reverse;
            padding: 230px 0 105px;
            padding: 30vw 0 13vw;
        }
        &__img{
            width: 60%;
            &--box{
                text-align: center;
                width: 100%;
                margin-right: 0;
            }
        }
        &__block{
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__title{
            font-size: 40px;
            line-height: 60px;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 425px) {
    .homeIntro{
        background-size: 120px, cover, cover;
        &__wrapper{
            padding: 50vw 0 25vw;
        }
        &__img{
            width: 100%;
        }
        &__title{
            font-size: 33px;
            line-height: normal;
        }
    }
}