.homeAbout{
    padding: 160px 0 300px;
    &__title{
        max-width: 1415px;
        margin: 0 auto;
        margin-bottom: 268px; 
        margin-left: 100px;
        font-size: 64px;
        font-weight: 400; 
        line-height: 101px;
        color: #CC1C08;
        margin-top: 150px;
        & span{
            font-weight: 800;
        }
        &::before{
            position: absolute;
            margin-left: -99px;
            // right: calc(100% + 79px);
            display: inline-block;
            content: ",,";
            font-weight: 800;
            font-size: 128px;
            line-height: 174px;
            color: #ECC962;
            transform: rotate(180deg);
            z-index: 1;
        }
        &::after{
            margin-top: -50px;
            position: absolute;
            margin-left: 21px;
            display: inline-block;
            content: ",,";
            font-weight: 800;
            font-size: 128px;
            line-height: 174px;
            color: #ECC962;
            z-index: 1;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle{
        font-weight: 800;
        font-size: 64px;
        line-height: 87px;
        letter-spacing: 0.06em;
        color: #CC1C08;
    }
    &__text{
        margin: 45px 0;
        font-size: 40px;
        font-weight: 400;
        line-height: 63px;
        color: #CC1C08;
        & span{
            font-weight: 800;
        }
    }
    &__img{
        width: 445px;
        height: 650px;
        object-fit: cover;
    }
    &__box{
        margin-right: 120px;
        transform: rotate(-8.9deg) translate(50px, 0);
    }
    &__block{
        max-width: 984px;
    }
}

@media screen and (max-width: 1600px) {
    .homeAbout{
        &__subtitle{
            font-size: 56px;
        }
        &__block{
            width: 57vw;
        }
    }
}
@media screen and (max-width: 1150px){
    .homeAbout{
        &__title{
            display: inline-block;
            width: 548px;
            margin-left: 0;
            text-align: center;
        }
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
    }
}