.product{
  margin-top: 150px;
    padding: 100px 0;
    &__caption{
      font-weight: 800;
      font-size: 64px;
      line-height: 91px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #25317B;
    }
    &__description{
      font-weight: 400;
      font-size: 40px;
      line-height: 66px;
      text-align: center;
      color: #25317B;
    }
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 160px;
      column-gap: 40px;
      margin: 170px 0;
    }
    
    &__title{
      font-weight: 800;
      font-size: 96px;
      line-height: 131px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
    }
    &__info{
      margin: 35px 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 70px;
      text-align: center;
      color: #FFFFFF;
    }
    &__btn{
      font-weight: 700;
      font-size: 24px;
      color: #AA2323;
      background-image: url(../../images/btn.png);
      background-size: cover;
      border: transparent;
      padding: 16px 59px;
      &:hover{
        cursor: pointer;
      }
    }
    &__paragraph{
      font-weight: 600;
      font-size: 32px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
    }
    &__img{
      width: 342px;
      transition: transform .2s;
      &:hover{
        transform: scale(1.1);
      }
    }
    &--img2{
      width: 404px;
    }
    &--img3{
      width: 398px;
    }
    
    // product wrap
    
    &__wrap{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__wrap img{
      width: 1072px;
    }
    &__wrap h2{
      max-width: 1066px;
      font-weight: 800;
      font-size: 64px;
      line-height: 91px;
      text-align: center;
      letter-spacing: 0.06em;
      color: #D42117;
      margin: 50px 0;
    }
    &__wrap p{
      font-weight: 600;
      font-size: 40px;
      line-height: 69px;
      text-align: center;
      color: #D42117;
      max-width: 1250px;
      margin-top: 50px;
    }
  }
  
  @media only screen and (max-width: 1528px) {
    .product{
      margin-top: 120px;
      &__wrapper{
        margin-top: 50px;
      }
      &__caption{
        font-size: 40px;
        line-height: 65px;
      }
      &__description{
        font-size: 25px;
        line-height: 33px;
      }
      &__img {
        width: 300px;
      }
      &__title{
        font-size: 30px;
      }
      &__info{
        font-size: 15px;
        line-height: 20px;
      }
      &__paragraph{
        font-size: 15px;
        line-height: 30px;
        max-width: 350px;
      }
      &__wrap img{
        width: 800px;
      }
      &__wrap h2{
        font-size: 40px;
        line-height: 65px;
      }
      &__wrap p {
        font-size: 25px;
        line-height: 45px;
      }
    }
  }
  
  
  @media only screen and (max-width: 1128px) {
    .product{
      margin-top: 100px;
      &__img{
        width: 280px;
      }
      &__title{
        font-size: 30px;
      }
      &__info{
        font-size: 15px;
        line-height: 20px;
      }
      &__wrap h2{
        font-size: 30px;
        line-height: 35px;
      }
      &__wrap p {
        font-size: 25px;
        line-height: 25px;
        max-width: 800px;
      }
      &__wrap img{
        width: 800px;
      }
    }
  }

  @media only screen and (max-width: 798px) {
    
    .product{
      margin-top: 80px;
      &__wrap img{
        width: 550px;
      }
      &__wrap h2{
        margin: 20px 0;
      }
    }
  }
  
  @media only screen and (max-width: 798px) {
    .product{
      margin-top: 70px;
      &__wrapper{
        row-gap: 60px;
        column-gap: 20px;
        margin: 40px 0;
      }
      &__caption{
        font-size: 20px;
        line-height: 35px;
      }
      &__description{
        font-size: 20px;
        line-height: 23px;
      }
      &__title{
        font-size: 30px;
      }
      &__info{
        font-size: 15px;
        line-height: 20px;
      }
      &__paragraph{
        font-size: 15px;
        line-height: 30px;
        max-width: 350px;
      }
      &__wrap img{
        width: 800px;
      }
      &__wrap h2{
        font-size: 20px;
        line-height: 35px;
        margin: 10px 0;
      }
      &__wrap p {
        font-size: 15px;
        line-height: 25px;
      }
      &__wrap img{
        width: 550px;
      }
    }
  }
  
  @media only screen and (max-width: 550px) {
    .product{
      margin-top: 60px;
      &__wrapper{
        row-gap: 60px;
        column-gap: 20px;
        margin: 40px 0;
      }
      &__caption{
        font-size: 20px;
        line-height: 35px;
      }
      &__description{
        font-size: 20px;
        line-height: 23px;
      }
      &__title{
        font-size: 30px;
      }
      &__info{
        font-size: 14px;
        line-height: 20px;
      }
      &__paragraph{
        font-size: 14px;
        line-height: 20px;
        max-width: 350px;
      }
      &__wrap h2{
        font-size: 20px;
        line-height: 35px;
        margin: 10px 0;
      }
      &__wrap p {
        font-size: 15px;
        line-height: 25px;
      }
      &__wrap img{
        width: 320px;
      }
    }
  }
  @media only screen and (max-width: 425px) {
    .product{
      margin-top: 50px;
      &__img{
        width: 150px;
        height: 200px;
      }
    }
  }