.productIntro {
    background-image: url("../../images/decor_1.png"), url("../../images/body_bg.png"), url("../../images/prod-intro-bg.png");
    background-repeat: no-repeat;
    background-size: 240px, cover, cover;
    background-position: top left, center, center;

    &__wrapper {
        position: relative;
        padding: 278px 0 600px;
        display: flex;
        // align-items: center;
        // justify-content: center;
    }

    &__video {
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        max-width: 100%;
    }
}

@media only screen and (max-width:1440px) {
    .productIntro {
        &__wrapper{
            padding: 278px 0 380px;
        }
        &__video{
            max-width: 70%;
            max-height: 80%;
        }
    }
}
@media only screen and (max-width:1024px) {
    .productIntro {
        &__video{
            max-width: 70%;
            max-height: 70%;
        }
    }
}


@media only screen and (max-width:768px) {
    .productIntro {
        background-size: 22vw, cover, cover;
        &__wrapper{
            padding: 250px 0 200px;
        }
        &__video{
            max-width: 70%;
            max-height: 70%;
        }
    }
}
@media only screen and (max-width:600px) {
    .productIntro {
        &__wrapper{
            padding: 180px 0 160px;
        }
        &__video{
            max-width: 70%;
            max-height: 70%;
        }
    }
}

@media screen and (max-width: 425px) {
    .productIntro {
        background-size: 120px, cover, cover;
        &__wrapper{
            padding: 150px 0 100px;
        }
        &__video{
            max-width: 80%;
            max-height: 80%;
        }
    }
}