html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/body_bg.png");
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
}
img {
    max-width: 100%;
    height: auto;
}
