@mixin footer {
    padding: 135px 0 35px;
    background-repeat: no-repeat;
    background-size: 250px, 460px, cover;
    background-position: top left, right bottom, center;
    
    @media only screen and (max-width: 1440px){
        background-size: 16vw,  28vw, cover;
    }
    // @media only screen and (max-width: 768px){
    //     background-size: 18vw,  35vw, cover;
    // }
    @media only screen and (max-width: 768px){
        background-size: 25vw,  50vw, cover;
    }
}